$color-primary: rgba(109, 91, 208, 1);
$color-secondary: rgba(110, 104, 147, 1);
$color-plain: rgb(255, 255, 255);
$color-neutral: rgb(173, 173, 173);
$color-positive: rgba(0, 127, 0, 1);
$color-negative: rgba(211, 0, 0, 1);
$color-warning: rgba(187, 127, 47, 1);
